@model MapVM

    <div class="row btn-controls">
        <div class="left">
            <button class="btn filter-action btn-small waves-effect waves-light">
                <i class="material-icons left">arrow_back</i>
                Aplicar
            </button>
        </div>
        <div id="filter-options" class="fixed-action-btn toolbar direction-top">
            <a href="#" class="btn-floating btn-small red">
                <i class="small material-icons">more</i>
                <div class="fab-backdrop"></div>
            </a>
            <ul>
                <li class="waves-effect waves-light red">
                    <a href="#!" id="filter-clear">
                        <i class="material-icons left">do_not_disturb</i>
                        Eliminar filtros
                    </a>
                </li>
                <li class="waves-effect waves-light teal">
                    <a href="#!" id="filter-clear">
                        <i class="material-icons right">close</i>
                        Cerrar
                    </a>
                </li>
            </ul>
        </div>
        <div class="right">
            <button class="btn filter-action btn-small waves-effect red lighten-2 waves-light">
                <i class="material-icons right">close</i>
                Cancelar
            </button>
        </div>
    </div>
    <div class="row filters-controls">
        <div id="dates-col" class="col s12 fltcol">
            <input tabindex="0" type="text" name="form[item_9]" id="fl-item-9" class="yd-date-time" value="" />
            <div class="card hide">
                <div class="card-content clinic-text">
                    <span class="card-title">
                        Disponibilidad
                    </span>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s6 input-field">
                            <i class="material-icons prefix">today</i>
                            <input asp-for="MinDate" type="text" class="datepicker" />
                            <label for="MinDate">Desde</label>
                        </div>
                        <div class="col s6 input-field">
                            <i class="material-icons prefix">date_range</i>
                            <input asp-for="MaxDate" type="text" class="datepicker" />
                            <label for="MaxDate">Hasta</label>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col s1 center-align">
                            <div class="row mb-0">
                                <div class="col s1 offset-s3">
                                    <label>
                                        <input asp-for="Monday" class="filled-in" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12" style="font-size:14px">Lu</div>
                            </div>
                        </div>
                        <div class="col s1 center-align">
                            <div class="row mb-0">
                                <div class="col s1 offset-s3">
                                    <label>
                                        <input asp-for="Tuesday" class="filled-in" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12" style="font-size:14px">Ma</div>
                            </div>
                        </div>
                        <div class="col s1 center-align">
                            <div class="row mb-0">
                                <div class="col s1 offset-s3">
                                    <label>
                                        <input asp-for="Wednesday" class="filled-in" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12" style="font-size:14px">Mi</div>
                            </div>
                        </div>
                        <div class="col s1 center-align">
                            <div class="row mb-0">
                                <div class="col s1 offset-s3">
                                    <label>
                                        <input asp-for="Thursday" class="filled-in" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12" style="font-size:14px">Ju</div>
                            </div>
                        </div>
                        <div class="col s1 center-align">
                            <div class="row mb-0">
                                <div class="col s1 offset-s3">
                                    <label>
                                        <input asp-for="Friday" class="filled-in" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12" style="font-size:14px">Vi</div>
                            </div>
                        </div>
                        <div class="col s1 center-align">
                            <div class="row mb-0">
                                <div class="col s1 offset-s3">
                                    <label>
                                        <input asp-for="Saturday" class="filled-in" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12" style="font-size:14px">Sa</div>
                            </div>
                        </div>
                        <div class="col s1 center-align">
                            <div class="row mb-0">
                                <div class="col s1 offset-s3">
                                    <label>
                                        <input asp-for="Sunday" class="filled-in" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12" style="font-size:14px">Do</div>
                            </div>
                        </div>
                    </div>*@
                    @*<div class="row slider-row">
                        <div class="col s12">
                            <div id="time-slider"></div>
                            <input asp-for="MinTime" class="hide" />
                            <input asp-for="MaxTime" class="hide" />
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <div id="especialities-col" class="col s12 fltcol">
            <div class="card">
                <div class="card-content clinic-text">
                    <span class="card-title">
                        Especialidades
                    </span>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12">
                            <select asp-for="Especialidad" multiple="multiple" class="sel2open"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="locations-col" class="col s12 fltcol">
            <div class="card">
                <div class="card-content clinic-text">
                    <span class="card-title">
                        Comuna, Provincia o Región
                    </span>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12">
                            <select asp-for="Ubicacion" multiple="multiple" class="sel2open"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 fltcol">
            <div class="card">
                <div class="card-content clinic-text">
                    <span class="card-title">
                        Género del Profesional Médico
                    </span>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12">
                            <select asp-for="Sex" class="sel2open">
                                <option value="false">♀ Femenino</option>
                                <option value="true">♂ Masculino</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 fltcol">
            <div class="card">
                <div class="card-content clinic-text">
                    <span class="card-title">
                        Convenios
                    </span>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12">
                            <input @(Model.Insurance == ConsultaMD.Data.InsuranceData.Insurance.Particular ? "disabled" : "") asp-for="HighlightInsurance" class="filled-in" />
                            <span>
                                Destacar servicios compatibles con plan de salud
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>