@model MapVM

<partial name="_Libs" model='(new string[]{
         "select2", "simplebar", "jquery.mousewheel","moment", "map", "@google/markerclusterer" }, "")' />

@using Microsoft.AspNetCore.Identity
@using ConsultaMD.Models.Entities

<partial name="_Libs" model='(new string[]{ "sidenav" }, "")' />

<partial name="_Loader">

<input asp-for="Last" class="hide" readonly="readonly" disabled="disabled"/>

<button class="btn btn-small btn-floating filterpanel-trigger hide-on-med-and-up waves-effect waves-light modal-trigger" data-target="filters-pane">
    <i class="material-icons left">filter_list</i>
</button>
<button class="btn btn-small pill filterpanel-trigger hide-on-small-and-down waves-effect waves-light modal-trigger" data-target="filters-pane">
    <i class="material-icons left">filter_list</i>Ver todos los filtros
</button>

    <nav>
        <div class="nav-wrapper teal lighten-2">
            <div class="input-field">
                <input id="search-filter" type="search">
                <label class="label-icon" for="search-filter">
                <i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </div>
    </nav>

    <div class="panel">
        <div id="map-view" class="search-view">
            <div id="map" class="h-100"></div>
        </div>
        <div id="list-view" class="search-view" data-simplebar>
            <div id="list" class="row"></div>
        </div>
        <div class="list-btn fixed-action-btn">
            <button id="toggle-view" class="btn btn-small waves-effect waves-light pill">
                ver como lista
            </button>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating clinic-desc" id="toggle-center">
                <i class="material-icons">location_off</i>
            </a>
        </div>
        <div class="filters" style="position:absolute;top:0px;">
            <div class="row">
                <button id="btnEspecialidad" data-target="specialties-pane" class="btn btn-small modal-trigger waves-effect waves-light filter-btn">
                    Especialidad
                </button>
                <button id="btnUbicacion" data-target="locations-pane" class="btn btn-small modal-trigger waves-effect waves-light filter-btn">
                    Comuna
                </button>
                <button id="btnFechaHora" data-target="dates-pane" class="btn btn-small modal-trigger waves-effect waves-light filter-btn">
                    Fecha-Hora
                </button>
            </div>
        </div>

    </div>

    <form id="filter" asp-action="MapList">
        <div id="specialties-pane" class="modal bottom-sheet select-sheet filter">
            <div class="modal-content">
                <div class="especialities-div">
                    <div id="especialities-col" class="col s12 m6">
                        <div class="card">
                            <div class="card-content clinic-text">
                                <span class="card-title">
                                    Especialidades
                                </span>
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <div class="col s12">
                                        <select asp-for="Especialidad" multiple="multiple" class="sel2open"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="locations-pane" class="modal bottom-sheet select-sheet filter">
            <div class="modal-content">
                <div class="locations-div">
                    <div id="locations-col" class="col s12 m6">
                        <div class="card">
                            <div class="card-content clinic-text">
                                <span class="card-title">
                                    Comuna, Provincia o Región
                                </span>
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <div class="col s12">
                                        <select asp-for="Ubicacion" multiple="multiple" class="sel2open"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dates-pane" class="modal bottom-sheet select-sheet filter">
            <div class="modal-content">
                <div class="dates-div">
                    <div id="dates-col" class="col s12 m6">
                        <div class="card">
                            <div class="card-content clinic-text">
                                <span class="card-title">
                                    Disponibilidad
                                </span>
                            </div>
                            <div class="card-action">
                                <div class="row">
                                    <div class="col s6">
                                        <span>Desde</span>
                                        <input asp-for="MinDate" type="text" class="datepicker" />
                                    </div>
                                    <div class="col s6">
                                        <span>Hasta</span>
                                        <input asp-for="MaxDate" type="text" class="datepicker" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s1 center-align">
                                        <div class="row mb-0">
                                            <div class="col s1 offset-s3">
                                                <label>
                                                    <input asp-for="Monday" class="filled-in" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12" style="font-size:14px">Lu</div>
                                        </div>
                                    </div>
                                    <div class="col s1 center-align">
                                        <div class="row mb-0">
                                            <div class="col s1 offset-s3">
                                                <label>
                                                    <input asp-for="Tuesday" class="filled-in" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12" style="font-size:14px">Ma</div>
                                        </div>
                                    </div>
                                    <div class="col s1 center-align">
                                        <div class="row mb-0">
                                            <div class="col s1 offset-s3">
                                                <label>
                                                    <input asp-for="Wednesday" class="filled-in" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12" style="font-size:14px">Mi</div>
                                        </div>
                                    </div>
                                    <div class="col s1 center-align">
                                        <div class="row mb-0">
                                            <div class="col s1 offset-s3">
                                                <label>
                                                    <input asp-for="Thursday" class="filled-in" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12" style="font-size:14px">Ju</div>
                                        </div>
                                    </div>
                                    <div class="col s1 center-align">
                                        <div class="row mb-0">
                                            <div class="col s1 offset-s3">
                                                <label>
                                                    <input asp-for="Friday" class="filled-in" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12" style="font-size:14px">Vi</div>
                                        </div>
                                    </div>
                                    <div class="col s1 center-align">
                                        <div class="row mb-0">
                                            <div class="col s1 offset-s3">
                                                <label>
                                                    <input asp-for="Saturday" class="filled-in" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12" style="font-size:14px">Sa</div>
                                        </div>
                                    </div>
                                    <div class="col s1 center-align">
                                        <div class="row mb-0">
                                            <div class="col s1 offset-s3">
                                                <label>
                                                    <input asp-for="Sunday" class="filled-in" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12" style="font-size:14px">Do</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row slider-row">
                                    <div class="col s12">
                                        <div id="time-slider"></div>
                                        <input asp-for="MinTime" class="hide"/>
                                        <input asp-for="MaxTime" class="hide"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="filters-pane" class="modal bottom-sheet select-sheet filters">
            <div class="modal-content">
                <partial name="_Filter" model="Model" />
            </div>
        </div>
    </form>

<ul id="slide-action" class="sidenav">
    <li style="line-height:1rem">
        <div data-simplebar class="h-100v">
            <div id="slide-header"></div>
            <div id="slide-content"></div>
        </div>
    </li>
</ul>

@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkCLRdkB6VyOXs-Uz_MFJ8Ym9Ji1Xp3rA&language=es&region=CL&callback=initMap" async defer></script>
}