@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Correo Confirmado";
}

<partial name="_Libs" model='(new string[]{ "simplebar" }, "")' />

<div class="row mb-0">
    <partial name="_LeftIconTile" model='"Patient"' />
    <div class="col m6 s12 h-100v" data-simplebar>
        <h3 class="header">@ViewData["Title"]</h3>
        <partial name="_SimpleCard" model='(icon: "email", msg: "¡Gracias por confirmar su correo!")' />
    </div>
</div>
