@page
@model DoctorInsuranceModel
@{
    ViewData["Title"] = "Previsión";
}

<partial name="_Libs" model="(new List<string>(), string.Empty)" />

<div class="row mb-0">
    <partial name="_LeftIconTile" model='"MD"' />
    <div class="col m6 s12 h-100v" data-simplebar>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" autocomplete="on">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h3 class="center-align header">Añade convenios</h3>
            <div class="input-field col s12">
                <input asp-for="Input.Company" class="validate" />
                <label asp-for="Input.Company"></label>
                <span asp-validation-for="Input.Company" class="text-danger"></span>
            </div>
            <div id="rut" class="input-field col s12">
                <input asp-for="Input.RUT" class="validate valid" autocomplete="username" />
                <label asp-for="Input.RUT"></label>
                <span asp-validation-for="Input.RUT" class="text-danger"></span>
            </div>
            <div id="pass" class="input-field col s12 isapre">
                <input asp-for="Input.Password" class="validate" autocomplete="current-password" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="collection">
                    <a id="recoverpass" href="#" class="collection-item" target="_blank">
                        <span class="badge">
                            <img id="recovery" src="" style="height:100%" />
                        </span>
                        ¿Olvidó la contraseña de su previsión?
                    </a>
                </div>
            </div>
            <div class="input-field col s12">
                <button id="add" type="submit" disabled
                        class="btn waves-effect waves-light white-text teal pill tile-gradient w-100">
                    <i class="material-icons left">add</i>Añadir Convenio
                </button>
            </div>
        </form>
        <div class="input-field col s12">
            <a href="@string.Format("{0}://{1}{2}", Request.Scheme, Request.Host, Model.ReturnUrl.ToString().Replace("~",""))"
               class="btn waves-effect waves-light white-text teal pill tile-gradient w-100">
                <i class="material-icons right">arrow_forward</i>Finalizar
            </a>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var instance = mobiscroll.select('#Input_Company', {
                lang: 'es',
                theme: 'material',
                data: @Html.Raw(Model.InsuranceList),
                display: 'bubble',
                showOnTap: true,
                showOnFocus: true
            });
        });
    </script>
}

<partial name="_ValidationScriptsPartial" />