@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Recuperación de contraseña";
}

<div class="row mb-0">
    <partial name="_LeftIconTile" model='"Patient"' />
    <div class="col m6 s12 h-100v">
        <h3>@ViewData["Title"]</h3>
        @if (Model.Email == null)
        {
            <partial name="_SimpleCard" model='(icon: "email", msg: $"Se enviará un correo con su nueva contraseña.")' />
        }
        else
        {
            <partial name="_SimpleCard" model='(icon: "email", msg: $"Un correo fue enviado a<br>{Model.Email}<br>para recuperar su contraseña")' />
        }
    </div>
</div>
