@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Contraseña restaurada";
}

@section Styles{
    <meta http-equiv="refresh" content="2;url=@Model.LoginUrl" />
}

<div class="row mb-0">
    <partial name="_LeftIconTile" model='"Patient"' />
    <div class="col m6 s12 h-100v">
        <section>
            <h1>@ViewData["Title"]</h1>
            <partial name="_SimpleCard" model='(icon: "email", msg: "Su contraseña fue restaurada. En 3 segundos y será redirigido.")' />
        </section>
    </div>
</div>
