@{
    ViewData["Title"] = "PWA Test";
}

<div id="page">
    <app-root _nghost-jar-c0="" ng-version="7.2.15">
        <router-outlet _ngcontent-jar-c0="">
        </router-outlet>
        <app-login _nghost-jar-c1="">
            <main _ngcontent-jar-c1="">
                <section _ngcontent-jar-c1="" class="login-bg hero_single version_2 hero1 med-ver start_bg_zoom">
                    <div _ngcontent-jar-c1="" class="wrapper">
                        <div _ngcontent-jar-c1="" class="container">
                            <div _ngcontent-jar-c1="" class="row">
                                <div _ngcontent-jar-c1="" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-left">
                                    <div _ngcontent-jar-c1="" id="logo">
                                        <a _ngcontent-jar-c1="" routerlink="/" ng-reflect-router-link="/" href="/web/">
                                            <img _ngcontent-jar-c1="" alt="" class="logo_normal" data-retina="true" height="auto" src="assets/img/logo.png" width="">
                                        </a>
                                    </div>
                                </div>
                                <div _ngcontent-jar-c1="" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div _ngcontent-jar-c1="" class="med-right-button">
                                        <ul _ngcontent-jar-c1="">
                                            <li _ngcontent-jar-c1="" class="text-uppercase">
                                                <a _ngcontent-jar-c1="" routerlink="/login" ng-reflect-router-link="/login" href="/web/login">Login</a>
                                            </li>
                                            <li _ngcontent-jar-c1="" class="text-uppercase">
                                                <a _ngcontent-jar-c1="" routerlink="/signup" ng-reflect-router-link="/signup" href="/web/signup">Sign Up</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-jar-c1="" class="row padding-top-70">
                                <div _ngcontent-jar-c1="" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-left">
                                    <div _ngcontent-jar-c1="" class="border-horgental"></div>
                                    <h2 _ngcontent-jar-c1="">Login</h2>
                                    <p _ngcontent-jar-c1="">Sign In with your registered email id.</p>
                                    <form _ngcontent-jar-c1="" autocomplete="on" class="mt-4">
                                        <div _ngcontent-jar-c1="" class="row">
                                            <div _ngcontent-jar-c1="" class="col-12">
                                                <div _ngcontent-jar-c1="" class="form-group">
                                                    <input _ngcontent-jar-c1="" class="form-control" id="email" name="email" placeholder="RUT: 15.3455566" type="email" value="">
                                                </div>
                                            </div>
                                            <div _ngcontent-jar-c1="" class="col-12">
                                                <div _ngcontent-jar-c1="" class="form-group">
                                                    <div _ngcontent-jar-c1="" class="hideShowPassword-wrapper">
                                                        <input _ngcontent-jar-c1="" class="form-control hideShowPassword-field"
                                                               id="password" name="password" placeholder="Password" type="password" value="">
                                                        <button _ngcontent-jar-c1="" aria-label="Show Password" aria-pressed="false"
                                                                class="my-toggle hideShowPassword-toggle-show" role="button" tabindex="0" title="Show Password" type="button"></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div _ngcontent-jar-c1="" class="col-12">
                                                <div _ngcontent-jar-c1="" class="clearfix add_bottom_30 mt-3">
                                                    <div _ngcontent-jar-c1="" class="mt-1">
                                                        <a _ngcontent-jar-c1="" id="forgot" routerlink="/forgot-password" ng-reflect-router-link="/forgot-password" href="/web/forgot-password">
                                                            Forgot Password?
                                                        </a>
                                                        <a _ngcontent-jar-c1="" class="btn_1 rounded text-uppercase float-right" routerlink="/book-appointment"
                                                           ng-reflect-router-link="/book-appointment" href="/web/book-appointment">Login</a>
                                                    </div>
                                                    <div _ngcontent-jar-c1="" class="med-soical">
                                                        <p _ngcontent-jar-c1="">Or Login Using Social Media</p>
                                                        <ul _ngcontent-jar-c1="">
                                                            <li _ngcontent-jar-c1="">
                                                                <a _ngcontent-jar-c1="" routerlink="/" ng-reflect-router-link="/" href="/web/">
                                                                    <img _ngcontent-jar-c1="" alt="" class="" data-retina="true" height="auto" src="assets/img/icon/Facebok.png" width="">
                                                                </a>
                                                            </li>
                                                            <li _ngcontent-jar-c1="">
                                                                <a _ngcontent-jar-c1="" routerlink="/" ng-reflect-router-link="/" href="/web/">
                                                                    <img _ngcontent-jar-c1="" alt="" class="" data-retina="true" height="auto" src="assets/img/icon/google.png" width="">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div _ngcontent-jar-c1="" class="mt-4">
                                                        <span _ngcontent-jar-c1="" class="frg-psd">Don't have an account?</span>
                                                        <span _ngcontent-jar-c1="" class=" ml-1 sigh-color">
                                                            <a _ngcontent-jar-c1="" routerlink="/signup" ng-reflect-router-link="/signup" href="/web/signup">Sign up</a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div _ngcontent-jar-c1="" class="d-none d-md-block text-right col-md-6 col-lg-8 col-xl-8"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </app-login>
    </app-root>
</div>