<div class="nav-wrapper clinic">
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-extra-large brand-logo left">
        <i class="material-icons">menu</i>
        <img src="~/img/logo.png" alt="logo" id="menu-logo"
             style="vertical-align:sub;height:35px;"
             asp-append-version="true" class="hide-on-small-and-down" />
    </a>
    <ul class="center">
        @ViewData["Title"]
    </ul>
</div>