/**
 * Variables
 */

$calentim-border-color: #ddd !default;
$calentim-border: 1px solid $calentim-border-color !default;
$calentim-selected-day: #1885FC !default;
$calentim-selected: #1783FF !default;
$calentim-disabled-color: #b8b8df !default;
$calentim-disabled-range-background: darken(ghostwhite, 1%) !default;
$calentim-weekend-color: #568EA3 !default;
$calentim-hover: #c8e1ff !default;
$calentim-first-last: #0666CD !default;
$calentim-header: #A6AAB3 !default;
$calentim-header-sub: #c9c9d1 !default;
$calentim-arrow: #c9c9d1 !default;
$calentim-month-name: #6a6e71 !default;
$calentim-mobile-background: ghostwhite !default;
$calentim-mobile-buttons: #f03a47 !default;
$calentim-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$calentim-selected-disabled-background: #c6dbf0 !default;
$calentim-selected-disabled-color: white !default;
$calentim-selected-disabled-transparency: 0.5 !default;