/*
    https://css-tricks.com/snippets/css/absolute-center-vertical-horizontal-an-image/
    table image align
*/
.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0; }

.wrapper td {
  vertical-align: middle;
  text-align: center;
  padding: 0px !important; }

/* css + inline technique */
.center-image {
  position: absolute;
  left: 50%;
  height: 35vh;
  margin-left: -27vh;
  /* Half the width */ }
