.row .col {
    padding: 0 30px;
}

.brand-logo img {
    width: 60%;
}

.profile-picture {
    width: 80%;
    padding: 25px;
}

.container-fluid .fa,
.container-fluid .far,
.container-fluid .fas {
    font-size: 20px;
    padding: 10px;
}

#clinic-row::before {
    opacity: 0.5;
}

#clinic-bg {
    /*background-image: url(/img/clinic-images.png);*/
    /*background-position: center;*/ /* Center the image */
    /*background-repeat: no-repeat;*/ /* Do not repeat the image */
    /*background-size: cover;*/ /* Resize the background image to cover the entire container */
    margin-top: 64px;
    width: 30vw !important;
    padding: 10px;
    background-color: #000000;
    height: 100%;
    width: 100%;
}

#Booking {
    height: 100%;
    width: 100vw;
}

.clinic-col {
    background-color: rgba(0,0,0,0.5);
}

.col-info {
    height: 50vh;
}

.info-doc {
    padding-bottom: 15px;
}

.hr-btn {
    background-color: white;
    color: teal;
}

.hr-btn:hover {
    background-color: teal;
    color: white;
}

#nav-mobile {
    background: black;
    opacity: 0.85;
    width: 500px;
    height: calc( 100vh - 0.5rem );
    padding: 0.5rem;

    #sidenav-details {
        height: 100vh;

        .select-dropdown {
            color: white;
        }

        img {
            max-height: 20vh;
        }

        #details {
            font-size: 1rem;
            height: calc(100vh - 227px);

            tr {
                border-bottom: 1pt solid gray;

                th, td {
                    line-height: 1.5rem;
                    padding: 10px 5px;
                    img{
                        width:25px;
                        height:25px;
                    }
                }
            }

            i {
                line-height: inherit;
            }
        }
    }
}

body {
    header, main, footer {
        padding-left: 500px;
        overflow:hidden;
    }
}

@media only screen and (max-width:600px) {
    #clinic-bg {
        width: 80vw !important;
        margin-top: 56px;
    }
}