/*fix materialize select form ios*/
.select-wrapper input.select-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none; // latest Opera versions support -webkit-
    user-select: none;
}