.preloader-background {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: fixed;
    z-index: 100;
    top: 40%;
    left: 50%;
    right: 0;
    bottom: 0;
}
