@import 'theme';

/*#slide-action {*/
    #slide-header {
        .card-content{
            padding: 12px;
        }
        .placeimg {
            height: 150px;
            object-fit: cover;
        }
    }

    #slide-content > div > div > div.card-content {
        padding: 12px;

        span {
            font-size: 20px;
        }
    }
/*}*/

.tabs {
    .indicator {
        background-color: #26a69a;
        /*Custom Color Of Indicator*/
    }

    .tab {
        a {
            color: $theme;
            /*Custom Text Color*/
            &:hover {
                color: $dark;
                /*Custom Color On Hover*/
            }

            &.active {
                /*background-color: #888;*/
                /*Background and text color when a tab is active*/
                color: $dark;

                &:focus {
                    color: $dark;
                    /*Custom Text Color While Active*/
                    background-color: lightblue;
                    /*Custom Background Color While Active*/
                }
            }
        }
    }
}

#list-view {
    display: none;
    padding-top: 35px;
    p.info{
        margin:0;
        font-size:0.8rem;
        i{
            font-size:1.3rem;
        }
    }
}
#list {
    > div {
        > h5 {
            margin-top:0.5rem;
        }
        > p {
            font-size: small;
        }
    }
}

nav .input-field {
    label[for='search-filter'] {
        left: 1rem;

        i {
            font-size: 30px;
            position: absolute;
            bottom: -55px;
        }
    }

    label[for='search-filter'].active i {
        color: #444;
    }
}

.card.horizontal {
    height: 230px;

    .card-stacked {
        max-width: 70%;

        .card-tabs {
            max-width: 100%;

            ul {
                &::-webkit-scrollbar {
                    height: 4px;
                    width: 4px;
                    border: 1px solid #d5d5d5;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 0;
                    background: #eeeeee;
                }

                &::-webkit-scrollbar-thumb:horizontal {
                    border-radius: 0;
                    background: #b0b0b0;
                }
                &.tabs .tab a{
                    padding: 0 8px;
                    font-size:0.7rem;
                }
            }
        }

        .card-content {
            padding: 10px 10px 0 10px;
            height: 100%;

            &.grey {
                ul {
                    li {
                        line-height: 0;
                        float: left;

                        a.btn.tooltipped {
                            background-color: transparent;
                            padding: 0;
                            height: 0;

                            img {
                                height: 25px;
                                padding-right: 10px;
                            }
                        }
                    }
                }

                span {
                    display: inline-block;
                    font-size: 15px;
                    line-height: 25px;
                }

                .address {
                    font-size: 0.8rem;
                    line-height: 1rem;
                }
            }

            .card-title {
                line-height: 25px;
                font-size: 1.3rem;
                margin: 0;
            }
        }

        .card-action {
            padding: 2px;
            background: white;
        }
    }

    .card-image {
        max-width: 30%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover
        }
    }

    .card-reveal {
        .card-title {
            line-height: 25px;
            font-size: 1.3rem;
            margin: 0;
        }

        ul li {
            line-height: 25px;

            img {
                height: 25px;
                padding-right: 10px;
            }

            span {
                display: inline-block;
                font-size: 15px;
                line-height: 25px;
            }
        }
    }
}

.panel {
    height: 100%;
    position: relative;

    .filters {
        position: absolute;
        top: 0px;
        padding: 2px;
    }
}

.filterpanel-trigger {
    position: absolute;
    right: 0;
    top: 10px;
}

.profile-picture {
    width: 100%;
    padding: 30px;
}

.container-fluid .fa,
.container-fluid .far,
.container-fluid .fas {
    font-size: 20px;
}

.modal.bottom-sheet.select-sheet {
    width: calc(100% - 300px);
    left: 300px;
}
.select-sheet.filter {
    min-height: calc(100% - 167px);
}
.select-sheet.filters {
    min-height: calc(100% - 64px);
}

.noUi-value.noUi-value-horizontal.noUi-value-large{
    width:60px;
}

tr {
    border: none !important;
}

#filter-pane {
    max-height: 93vh;
}

.noUi-div {
    padding-bottom: 40px;
}

a[rel="noopener"] {
    display: none !important;
}

.card-profile {
    max-width: 30%;
}

.card-profile img {
    max-width: 100%;
    padding: 10px;
    border-radius: 50%;
}

.search-view {
    height: calc(100% - 64px);
    width: 100%;
}

.list-btn {
    left: calc(300px + (100% - 300px) / 2 - 70px)
}

.preloader-background{
    left: calc(300px + (100% - 300px) / 2 - 40px)
}

body {
    header, main, footer {
        padding-left: 300px;
    }
}

.slider-row {
    padding:20px 16px 50px 16px;
}

.filter-btns {
    position: absolute;
    top: 0;

    .filter-btn {
        max-width: 31vw;
    }
}

@media only screen and (max-width:990px) {
    .modal.bottom-sheet.select-sheet {
        width: 100%;
        left: 0;
    }
    .list-btn {
        left: calc(50% - 70px);
    }
    .preloader-background {
        left: calc(50% - 40px)
    }
    body {
        header, main, footer {
            padding-left: 0px;
        }
    }
}

@media only screen and (max-width:600px) {
    .select-sheet.filter {
        min-height: calc(100% - 152px);
    }

    .select-sheet.filters {
        min-height: calc(100% - 56px);
    }

    .filter-btn {
        width: 31vw;
        padding:0;
    }

    .search-view {
        height: calc(100% - 56px);
    }
    nav .input-field label[for='search-filter'] i {
        bottom: -45px;
    }
}