.brand-logo img {
  width: 60%;
  vertical-align: sub;
  height: 35px; }

body header, body main, body footer {
  padding-left: 300px; }

#editProfile {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 30px; }

.sidenav .user-view {
  padding: 32px;
  line-height: 2rem; }
  .sidenav .user-view .name {
    font-size: 13px; }
  .sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }
    .sidenav .user-view .background .image {
      height: 100%; }
  .sidenav .user-view .input-field {
    padding: 0;
    margin: 0; }
    .sidenav .user-view .input-field.email .prefix {
      top: 9px; }
    .sidenav .user-view .input-field .prefix {
      top: 0; }
    .sidenav .user-view .input-field input {
      font-size: small;
      margin-bottom: 0;
      height: 40px; }

.material-icons.prefix.edit {
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 3px;
  background-color: #F44336;
  box-shadow: 1px 1px 2px 0px #000;
  transition: all 0.5s;
  width: 24px; }

nav > div.nav-wrapper > div.nav-wrapper {
  padding-left: 1.5rem; }

.details {
  display: block;
  font-size: 1rem; }

@media only screen and (max-width: 992px) {
  nav > div.nav-wrapper > div.nav-wrapper {
    padding-left: 3.5rem; }
  nav .sidenav-trigger.brand-logo.left {
    left: 0;
    margin: 0 13px; }
  body header, body main, body footer {
    padding-left: 0px; } }
