@import 'theme';

html {
    position: fixed;
    touch-action: manipulation;
    height: 100vh;
    width: 100vw;

    body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 18px;
        overflow: hidden;
    }
}

input#Input_RUT {
    text-transform:uppercase;
}

//materialize icon to the right of input
.input-field .prefix.right {
    right: 0;
}

h1, h2, h3, h4, h5, h6, th, .card-title {
    color: $theme;
}

.border-top {
    border-top: 1px solid $white;
}

.border-bottom {
    border-bottom: 1px solid $white;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem #000000;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.clinic {
    background-color: $theme !important;
}

.clinic-text {
    color: $theme !important;
}

.pill {
    border-radius: 30px !important;
}

.btn {
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;

    .teal {
        background-image: linear-gradient(to right, $theme, $dark);
    }
}

.btn:hover {
    opacity: 0.7;
}
/* Sidebar CSS */
/*.sidenav {
    width: 250px !important;
}*/

.under-menu {
    width: 100%;
    height: calc(100vh - 64px);
}

/*#menu-logo {
    height: 100%;
    padding-left: 20px;
}*/