@model MDWaitingRoomVM

@{
    ViewData["Title"] = "Sala de Espera";
}

<partial name="_LibsPg" model="new HashSet<string>()" />

<div data-simplebar>
    <div mbsc-form>
        <div mbsc-accordion>
            <div class="mbsc-form-group">
                <div class="mbsc-form-group-title">Atendiendo</div>
            </div>
            @if (Model.Attending != null)
            {
                <partial name="_MDPatient" model="Model.Attending" />
            }
            else
            {
                <a class="btn">Llamar paciente</a>
            }
            <div class="mbsc-form-group">
                <div class="mbsc-form-group-title">En espera @Model.Waiting.Count()</div>
                @foreach (var w in Model.Waiting)
                {
                    <partial name="_MDPatient" model="w" />
                }
            </div>
            <div class="mbsc-form-group">
                <div class="mbsc-form-group-title">Confirmados @Model.Confirmed.Count()</div>
                @foreach (var c in Model.Confirmed)
                {
                    <partial name="_MDPatient" model="c" />
                }
            </div>
        </div>
    </div>
</div>