@model MDWaitingRoomVM

@{
    ViewData["Title"] = "Sala de Espera";
}

<partial name="_LibsPg" model="new HashSet<string>()" />

<div data-simplebar>
    <div mbsc-form>
        <div mbsc-accordion>
            <div class="mbsc-form-group">
                <div class="mbsc-form-group-title">Atendiendo</div>
                <partial name="_MDPatient" model="Model.Attending" />
            </div>
            <div class="mbsc-form-group">
                <div class="mbsc-form-group-title">Esperando</div>
                @foreach (var w in Model.Waiting)
                {
                    <partial name="_MDPatient" model="w" />
                }
            </div>
            <div class="mbsc-form-group">
                <div class="mbsc-form-group-title">Confirmados</div>
                @foreach (var c in Model.Confirmed)
                {
                    <partial name="_MDPatient" model="c" />
                }
            </div>
        </div>
    </div>
</div>