@model string

<header class="page-topbar" id="header">
    <div class="navbar navbar-fixed">
        <nav class="navbar-main navbar-color nav-collapsible sideNav-lock clinic-gradient no-shadow">
            <div class="nav-wrapper">
                <div class="header-search-wrapper hide-on-med-and-down">
                    <i class="material-icons">search</i>
                    <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Buscar">
                </div>
                <ul class="navbar-list right">
                    <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light toggle-fullscreen" href="javascript:void(0);"><i class="material-icons">settings_overscan</i></a></li>
                    <li class="hide-on-large-only"><a class="waves-effect waves-block waves-light search-button" href="javascript:void(0);"><i class="material-icons">search</i></a></li>
                    <li><a class="waves-effect waves-block waves-light notification-button" href="javascript:void(0);" data-target="notifications-dropdown"><i class="material-icons">notifications_none<small class="notification-badge">4</small></i></a></li>
                    <li><a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown"><span class="avatar-status avatar-online"><img src="~/img/Borquez-Copy.png" alt="avatar"><i></i></span></a></li>
                </ul>
                <!-- notifications-dropdown-->
                <ul class="dropdown-content" id="notifications-dropdown">
                    <li>
                        <h6>NOTIFICACIONES<span class="new badge">4</span></h6>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle red small">stars</span> 5300 consultas en este mes</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Hace 3 días</time>
                    </li>
                    <li>
                        <a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle teal small">settings</span> Configuración actualizada</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Hace 4 días</time>
                    </li>
                    <li>
                        <a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle deep-orange small">today</span> Nueva hora agendada en Oftalmología</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Hace 6 días</time>
                    </li>
                    <li>
                        <a class="grey-text text-darken-2" href="#!"><span class="material-icons icon-bg-circle amber small">trending_up</span> Nuevo reporte mensual</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">Hace 1 semana</time>
                    </li>
                </ul>
                <!-- profile-dropdown-->
                <ul class="dropdown-content" id="profile-dropdown">
                    <li><a class="grey-text text-darken-1" href="user-profile-page.html"><i class="material-icons">person_outline</i> Perfil</a></li>
                    <li><a class="grey-text text-darken-1" href="app-chat.html"><i class="material-icons">chat_bubble_outline</i> Chat</a></li>
                    <li><a class="grey-text text-darken-1" href="page-faq.html"><i class="material-icons">help_outline</i> Ayuda</a></li>
                    <li class="divider"></li>
                    <li><a class="grey-text text-darken-1" href="user-lock-screen.html"><i class="material-icons">lock_outline</i> Bloquear</a></li>
                    <li><a class="grey-text text-darken-1" href="user-login.html"><i class="material-icons">keyboard_tab</i> Salir</a></li>
                </ul>
            </div>
            <nav class="display-none search-sm">
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input class="search-box-sm" type="search" required="">
                            <label class="label-icon" for="search"><i class="material-icons search-sm-icon">search</i></label><i class="material-icons search-sm-close">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </nav>
    </div>
</header>

<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light sidenav-active-square">
    <div class="brand-sidebar">
        <h1 class="logo-wrapper">
            <a class="brand-logo darken-1 center" href="index.html">
                <img src="~/img/logo-green.png" />
            </a>
        </h1>
    </div>
    <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">


        <li class="bold">
            <a class="waves-effect waves-teal" asp-area="MDs" asp-controller="Home" asp-action="Index"><i class="material-icons">home</i><span class="menu-title" data-i18n="">Inicio</span></a>
        </li>
        <li class="navigation-header">
            <a class="navigation-header-text">Menú </a><i class="navigation-header-icon material-icons">more_horiz</i>
        </li>
        <li class="bold">
            <a class="waves-effect waves-teal" asp-area="MDs" asp-controller="Agenda" asp-action="Index"><i class="material-icons">list</i><span class="menu-title" data-i18n="">Agenda</span></a>
        </li>
        <li class="bold">
            <a class="waves-effect waves-teal" asp-area="Patients" asp-controller="Search" asp-action="Map"><i class="material-icons">list</i><span class="menu-title" data-i18n="">Paciente</span></a>
        </li>
    </ul>
    <div class="navigation-background"></div><a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only white" href="#" data-target="slide-out"><i class="material-icons teal-text">menu</i></a>
</aside> 